*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

.container{
    border: 0.3rem solid black;
    display: flex;
    flex-direction: row;
    flex-direction: row-reverse;
    flex-direction: column;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    flex-wrap: wrap-reverse;
    justify-content: center;
    justify-content: flex-end;
    justify-content: flex-start;
    justify-content: space-around;
    justify-content: space-evenly;

    
}
.box{
width: 10rem;
height: 10rem;
}
.box1{
    background-color: mediumorchid;
}
.box2{
background-color: aqua;    
}
.box3{
    background-color: aliceblue;
}
.box4{
    background-color: brown;
}
.box5{
    background-color: blueviolet;
}
.box6{
background-color: darkmagenta;    
}